.hdhome{
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate{
    0%,100%{
        background-image: url("home.jpg");
    }
    40%{
        background-image: url("home2.jpg");
    }
    80%{
        background-image: url("home3.jpg");
    }
}
h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase; 
    font-weight: lighter;
    text-align: center;
}
h4{
    color: white;
    word-spacing: 5px;
    font-weight: lighter;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.main-content{
    width:1180px;
    position: absolute;
    top: 50%;
}
h2{
    color: #fff;
    word-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 10px; 
    font-weight: lighter;
    text-align: center;
}
.services-section{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("services.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    color: #fff !important;
    margin-top: 30px;
}
h2:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 5px auto;
}
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
    overflow: hidden;
}
.section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
}
.border{
    width: auto;
    height: 2px;
    background-color: #82ccdd;
    margin: 30px auto;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}
.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 4px solid #8ec1cc;
    color:#82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
}
.service-icon{
    line-height: 70px;
    transform: rotate(0deg);
    font-size: 26px;
}
.service-box:hover .service-icon{
    background: #82ccdd;
    color:#ddd;
}
.service-title{
    font-size: 18 px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.service-desc{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width:960px){
    .service-box{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: 100%;
    }
}